@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
	.main-nav ul li
		margin-right: 35px
// ≥992px
+media-breakpoint-down(md)
	a.toggle-mnu
		display: block
	a.custom-logo-link, .header-content .contact span, .wrapper-main-nav
		display: none
	.wrapper-main-nav
		height: 0
	.header-content .contact
		position: absolute
		right: 0
		top: 30px
		margin: 0
		.phone
			font-size: 1.125em
			line-height: 1
	.header-content h1, .header-content .description
		line-height: 1.4
	.header-content h1
		font-size: 2.5em
	.header-content .description
		font-size: 1.5em
	.header-content
		text-align: center
	.header-content a.big-btn
		display: inline-block
		width: 100%
	.main-nav
		background-color: rgba(255, 255, 255, 0.95)
		position: fixed
		left: 0
		top: 0
		height: auto
		padding: 90px 25px 20px
		min-width: 182px
		z-index: 9000
		justify-content: left
		ul li
			display: block
			margin-right: 0
			a
				color: $text
				font-size: 1.125em
				&:hover
					color: $accent-two
	.catalogue-nav
		margin-bottom: 30px
	a.open-catalogue
		display: none
	.catalogue-item .catalogue-item-thumb-after
		display: none
// ≥768px
+media-breakpoint-down(sm)
	a.toggle-mnu
		left: 30px
	.header-content .contact
		right: 30px
	.catalogue-nav
		display: none
	.header-content h1
		font-size: 1.5em
	.header-content .description, .header-content a.big-btn
		font-size: 1.125em
	.header-content a.big-btn
		height: auto
		padding: 3px
	body.home .header-content
		padding-bottom: 46px
	.section-title
		font-size: 1.250em
		text-align: center
		line-height: 1.4
	.social-head, .social
		text-align: center
	.advantage
		padding-top: 37px
		padding-bottom: 27px
		.section-title
			color: $text
			margin-bottom: 22px
		.advantage-item
			margin-bottom: 20px
			.number
				display: none
			h3
				font-size: 1.25em
				line-height: 1.2
		.stock-title
			margin-top: 0
			color: #FF5454
		.stock-item
			padding: 18px 70px 18px 15px
			box-shadow: 0px 0px 2px rgba(27, 27, 27, 0.2)
			background-size: 66px 68px
			margin-bottom: 15px
			.title
				font-size: 1em
				line-height: 1.2
			.more
				display: none
	.callback-section
		text-align: center
		padding: 33px 0 37px
		.title
			line-height: 1.4
			font-size: 1.250em
		.sub-title
			display: none
		.contact a
			font-size: 1.500em
	.testimonial
		padding: 35px 0 0
		.testimonial-item
			display: flex
			flex-direction: column-reverse
			background-color: #fff
			box-shadow: 0px 0px 20px rgba(0, 56, 122, 0.2)
			border-radius: 4px
			padding: 10px 25px 20px
			&.active .content
				box-shadow: none
				&::after
					display: none
			.content
				padding: 0
				margin-bottom: 0
				color: $text
				p
					font-size: 0.875em
					line-height: 1.48
				&::before
					display: none
			.author
				display: flex
				margin-bottom: 5px
				img
					width: 28px
					height: 29px
				p
					text-transform: capitalize
					letter-spacing: 0
					font-weight: 500
					font-size: 1.125em
	.news
		padding: 15px 0
		.news-item
			background-color: #fff
			padding: 15px
			&.active
				box-shadow: none
			h3
				font-size: 1.125em
				line-height: 26px
				margin-bottom: 5px
			.content
				margin-bottom: 16px
	.main-footer
		padding: 27px 0
		.footer-catalogue-nav
			margin-bottom: 15px
		.copyright
			padding-top: 0
	.contact-item
		margin: 0 0 29px
		h3
			font-size: 1.125em
			margin-bottom: 10px
	.ya-map
		margin-top: 40px !important
	.main-content-page, .main-content
		padding: 50px 0
	.main-content .page-title, .main-content h1.entry-title
		display: none 
	.catalogue-item .row
		flex-direction: column-reverse
	.catalogue-item .section-title, .main-content-page .section-title
		display: none
	.catalogue-item .catalogue-item-thumb-wrap
		padding-right: 0
		margin-bottom: 30px
	.catalogue-item .catalogue-item-thumb
		text-align: center
	.catalogue-item
    padding: 31px 0 77px
	.catalogue-item .catalogue-item-title
		color: #00387A
		font-size: 1.250em
		margin: -15px 0 30px
		text-align: center
	.type-post
		padding: 15px
	.type-post.has-post-thumbnail
		padding-right: 65px
		background-size: 60px
// ≥576px
+media-breakpoint-down(xs)
	.catalogue-category .col-lg-3
		padding: 0
	.catalogue-category a.catalogue-category-item
		flex-direction: row
		max-width: 100%
		margin: 0
		border-bottom: 1px solid #CDCDCD
		justify-content: flex-start
		color: #00387A
		height: 96px
		img
			max-height: 95px
			margin-right: 10px
	.catalogue-item a.btn
		font-size: 1.125em
		margin-top: 15px
		padding-left: 20px
		padding-right: 20px
		text-align: center
		width: 100%
	.nav-links
		display: none
/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)
	.header-content h1.page-title
		display: none
	.wrapper-main-nav
		display: block !important

// ≤1200px
+media-breakpoint-up(xl)
