@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700')
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900')
@import "vars"
// @import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	background-color: #F6F6F6
	counter-reset: contactItem
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

/* links */
a:link, a:visited
	color: $text
	outline: none
	text-decoration: none
a:hover
	color: $text

	
// HEADER
body.home .header-content
	padding-bottom: 68px
	background-image: url(../img/home-header-cover.jpg)
.header-content
	background-image: url(../img/header-cover.jpg)
	background-color: #00387A
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	padding-bottom: 40px
	a.custom-logo-link
		max-width: 514px
	.contact
		float: right
		display: block
		max-width: 205px
		text-align: right
		margin-top: 47px
		line-height: 23px
		&, .phone
			color: $text-w
		.phone
			font-weight: bold
			font-size: 1.500em
			line-height: 35px
			display: block
	h1
		font-weight: 900
		line-height: 86px
		text-transform: uppercase
		font-size: 4.188em
		margin: 68px 0 13px
		color: $text-w
	.description
		margin: 0 0 40px
		color: $text-w
		font-weight: 500
		line-height: 51px
		font-size: 2.188em
		span
			color: #FF5454
	a.big-btn
		max-width: 512px
		height: 69px
		background-color: $accent
		box-shadow: 0px 5px 10px rgba(146, 146, 0, 0.25)
		font-weight: 500
		line-height: 37px
		font-size: 1.500em
		padding: 16px
		text-align: center
		display: block
		transition: $trans
		&:hover
			opacity: .85
.wrapper-main-nav
	background: $accent-two
body.home .main-nav
	justify-content: center
.main-nav
	height: 75px
	display: flex
	justify-content: right
	align-items: center
	ul
		margin: 0
		padding: 0
		list-style: none
		li
			display: inline-block
			margin-right: 55px
			&:last-child
				margin-right: 0
			a
				color: $text-w
				font-weight: 500
				line-height: 37px
				font-size: 1.500em
				&::after
					transition: $trans
					content: ''
					display: block
					width: 0
					height: 1px
					margin: 0 auto
					background-color: $text-w
				&:hover::after
					width: 100%
// END HEADER

// ADVANTAGE
.catalogue-nav
	box-shadow: 0px 0px 20px rgba(0, 56, 122, 0.2)
	background: #fff url(../img/catalogue-nav-bg.jpg) center center no-repeat
	background-size: cover
	padding: 55px 57px 56px 41px
	h3
		line-height: 53px
		margin-bottom: 21px
		font-weight: bold
		font-size: 2.250em
	ul
		margin: 0
		padding: 0
		list-style: none
		li
			line-height: 46px
			position: relative
			a
				font-size: 1.250em
				font-family: 'Poppins', sans-serif
				font-weight: 500
				&:hover
					color: $accent-two
				&::after
					content: '\f105'
					font-family: "Font Awesome 5 Free"
					font-weight: bold
					position: absolute
					right: 0
.advantage
	padding: 103px 0 100px
	.section-title
		color: #818181
		margin-bottom: 38px
	.advantage-item
		margin-bottom: 52px
		.number
			color: #9C9C9C
			line-height: 26px
			font-size: 1.125em
			margin-bottom: 18px
		h3
			line-height: 35px
			font-size: 1.500em
			margin-bottom: 15px
		p
			line-height: 23px
			margin-bottom: 0
	.stock-title
		color: #FF5454
		line-height: 53px
		margin: 20px 0 25px
	.stock-item
		display: block
		max-width: 352.22px
		padding: 24px 140px 22.3px 23px
		background-color: #fff
		background-position: center right
		background-repeat: no-repeat
		background-size: 119px 125px
		margin-right: auto
		margin-left: auto
		&:hover
			box-shadow: 0px 0px 20px rgba(0, 56, 122, 0.2)
			.title, .more
				color: $accent-two
		.title
			color: $text
			font-weight: 500
			margin-bottom: 10px
		.title, .more
			line-height: 26px
			display: inline-block
			font-size: 1.125em
		.more
			color: #9C9C9C
// END ADVANTAGE

// CALLBACK SECTION
.callback-section
	background: #00387A url(../img/callback-bg.jpg) center center no-repeat
	background-size: cover
	color: $text-w
	padding: 69px 0 93px
	.title
		line-height: 53px
		font-size: 2.250em
		margin-bottom: 23px
	.sub-title
		line-height: 13px
		margin-bottom: 0
	.contact
		line-height: 23px
		margin-bottom: 36px
		a
			display: inline-block
			line-height: 44px
			font-size: 1.875em
			color: $text-w
			font-weight: 500
// END CALLBACK SECTION

// TESTIMONIAL
.testimonial
	padding: 88px 0 0
	.container-fluid
		max-width: 1360px
	.section-title
		margin-bottom: 39px
	.testimonial-item
		margin-bottom: 30px
		&.active .author
			display: flex
		&.active .content
			background-color: #fff
			box-shadow: 0px 0px 20px rgba(0, 56, 122, 0.2)
			color: $text
			&::after
				content: ''
				width: 55px
				height: 86px
				background-color: #fff
				border-radius: 4px
				display: block
				position: absolute
				bottom: -8px
				transform: rotate(-17deg)
				left: 10px
		.content
			border-radius: 4px
			padding: 31px 39px 37px 96px
			position: relative
			margin-bottom: 24px
			color: #B1B1B1
			transition: box-shadow .3s ease
			&::before
				content: '\f10d'
				font-family: "Font Awesome 5 Free"
				font-weight: bold
				color: #DADADA
				position: absolute
				top: 31px
				left: 48px
				line-height: 1
				font-size: 1.4em
			p
				line-height: 24px
				margin-bottom: 0
		.author
			align-items: center
			display: none
			img
				margin-right: 14px
			p
				letter-spacing: 3.5px
				text-transform: uppercase
				font-weight: 900
				font-size: 0.875em
				margin-bottom: 0
// END TESTIMONIAL

// NEWS
.news
	padding: 50px 0 70px
	.section-title
		margin-bottom: 30px
		a
			color: $accent-two
			line-height: 35px
			font-size: 0.667em
			margin-left: 35px
	.news-item
		padding: 35px
		transition: $trans
		margin-bottom: 30px
		&.active
			background-color: #fff
			box-shadow: 0px 0px 20px rgba(0, 56, 122, 0.2)
		.date
			margin-bottom: 5px
			color: #9C9C9C
			line-height: 21px
			font-weight: 500
			font-size: 0.875em
		h3
			margin-bottom: 25px
			line-height: 35px
			font-size: 1.500em
			font-weight: 500
		.content
			color: #474747
			line-height: 23px
			margin-bottom: 20px
		.more-link
			font-weight: 500
			line-height: 23px
			&:hover
				color: $accent-two
				text-decoration: underline
// END NEWS

// FOOTER
.main-footer
	background: $accent-two url(../img/footer-bg.jpg) center center no-repeat
	background-size: cover
	padding: 91px 0 88px
	&, a
		color: $text-w
	ul
		margin: 0
		padding: 0
		list-style: none
		li a
			font-size: 1.125em
			font-weight: 500
			&:hover
				border-bottom: 1px dotted
	a.custom-logo-link
		max-width: 250px
	.footer-main-nav ul li
		line-height: 28px
	.footer-catalogue-nav ul li
		line-height: 36px
	h3
		font-weight: 500
		margin-bottom: 12px
	a.phone
		line-height: 26px
		display: block
		margin-bottom: 40px
	h3, a.phone, .address
		font-size: 1.125em
	h3, .address
		line-height: 30px
	.address
		margin-bottom: 36px
	.copyright
		padding-top: 38px
		p
			margin-bottom: 0
			line-height: 25px
			font-size: 0.875em
	.social-head
		margin-bottom: 7px
	.social a
		margin-right: 10px
		&:hover
			color: $accent
		&:last-child
			margin-right: 0
	.social .fab
		line-height: 1
		font-size: 1.2em
// END FOOTER

// CATALOGUE CATEGORY
.catalogue-category
	padding: 87px 0 80px
	.section-sub-title
		margin-bottom: 72px
	a.catalogue-category-item
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		background-color: #fff
		max-width: 270px
		height: 200px
		margin: 0 auto 30px
		margin-bottom: 30px
		transition: $trans
		&:hover
			box-shadow: 0px 0px 20px rgba(0, 56, 122, 0.2)
			color: $accent-two
		img
			max-width: 100%
		span
			margin-top: 11px
			font-weight: 500
			font-size: 1.250em
			line-height: 46px
// END CATALOGUE CATEGORY

// POPUP
.popup
	display: none
	width: 100%
	max-width: 500px
	h2
		margin-bottom: 30px
		text-align: center
		text-transform: uppercase
		font-weight: 400
.main-form input
	padding: 10px
	width: 100%
	margin-bottom: 15px
.main-form button
	background: $text
	color: #fff
	border: 1px solid $text
	padding: 10px 30px
	cursor: pointer
	&:hover
		color: $text
		background: none
// END POPUP

// OTHER STYLE
.main-content
	padding: 104px 0 137px
.main-content-page
	padding: 88px 0 139px
.catalogue-item
	padding: 87px 0 163px
	.catalogue-item-thumb-wrap
		padding-right: 70px
	.catalogue-item-title
		font-weight: 900
		font-size: 6.000em
		color: #fff
		opacity: 0.4
		text-shadow: 0px 0px 20px rgba(92, 92, 92, 0.2)
		line-height: 1
		text-transform: capitalize
		margin-bottom: 52px
		margin-top: -15px
	.section-title
		margin-bottom: 11px
	a.btn
		margin-top: 50px
		font-size: 1.500em
		padding-top: 16.5px
		padding-bottom: 16.5px
		.fa-download
			margin-right: 10px
	.catalogue-item-thumb
		text-align: right
		img
			box-shadow: 0px 0px 10px rgba(92, 92, 92, 0.1)
	.catalogue-item-thumb-after
		display: flex
		align-items: flex-end
		margin-top: -88px
		&.to_top_price-icon
			align-items: flex-start
			margin-top: -145px
			.price-icon
				position: absolute
				margin-left: 225px
				margin-top: -85px
		p
			padding: 70px 83px 86px 65px
			margin-bottom: 0
			font-weight: 500
			font-size: 1.500em
			line-height: 1.48
		.price-icon
			padding: 50px 56px
			margin-left: 34px
			margin-bottom: 10px
		p, .price-icon
			background-color: #fff
			box-shadow: 0px 0px 20px rgba(92, 92, 92, 0.2)
a.custom-logo-link
	display: inline-block
	img
		max-width: 100%
.section-title
	margin: 0
	font-weight: bold
	line-height: 53px
	font-size: 2.250em
.section-sub-title
	margin-top: 5px
	line-height: 23px
a.btn
	background-color: $accent
	border: 1px solid $accent
	box-shadow: 0px 5px 10px rgba(146, 146, 0, 0.25)
	font-size: 1.125em
	line-height: 28px
	display: inline-block
	font-weight: 500
	padding: 7.5px 48.5px
	transition: $trans
	&:hover
		background-color: $text
		color: $accent
a.open-catalogue
	display: flex
	justify-content: center
	align-items: center
	background-color: #0051AF
	color: $text-w
	line-height: 37px
	font-size: 1.500em
	font-weight: bold
	height: 100%
	&:hover
		opacity: 0.8
a.toggle-mnu
	position: absolute
	color: $text-w
	line-height: 1
	left: 0
	top: 25px
	font-size: 2em
	display: none
	transition: $trans
	&.active
		position: fixed
		left: 25px
		color: $text
		z-index: 9100
.contact-item
	margin: 40px 0 45px
	&::before
		counter-increment: contactItem
		content: "0" counter(contactItem)
		color: #9C9C9C
		font-size: 1.125em
		font-weight: 500
		display: block
		margin-bottom: 15px
	h3
		font-size: 1.500em
		margin-bottom: 15px
	p
		margin-bottom: 0
.fw-container-fluid
	padding-left: 0 !important
	padding-right: 0 !important
.type-post
	background-color: #FFFFFF
	background-position: 98% 14px
	background-repeat: no-repeat
	padding: 30px
	margin-bottom: 40px
	transition: $trans
	&.active
		box-shadow: 0px 0px 20px rgba(0, 56, 122, 0.2)
		a.open-all-content::after
			content: ' \f0d8'
		a.open-all-content::before
			content: 'Скрыть'
	&.active .entry-content, .entry-content.type-post-full
		max-height: 100%
	.entry-content
		max-height: 80px
		overflow: hidden
		margin-bottom: 10px
	&.has-post-thumbnail
		padding-right: 240px
	&:hover
		box-shadow: 0px 0px 20px rgba(0, 56, 122, 0.2)
	h2.entry-title
		font-weight: 500
		font-size: 1.125em
		margin-bottom: 10px
	p
		color: #9C9C9C
a.open-all-content
	font-weight: 500
	&::before
		content: 'Раскрыть'
	&::after
		content: ' \f0d7'
		margin-left: 5px
		font-family: "Font Awesome 5 Free"
		font-weight: bold
	&:hover
		color: #00387A
// END OTHER STYLE

@import "media" // Always at the end
